Source: ngcp-db-schema
Section: admin
Priority: optional
Maintainer: Sipwise Development Team <support@sipwise.com>
Standards-Version: 3.9.8
Homepage: https://www.sipwise.com/
Build-Depends:
 debhelper (>= 10~),

Package: ngcp-db-schema
Architecture: all
Depends:
 ngcp-system-tools-ce | ngcp-system-tools,
 ${misc:Depends},
Description: database schema for Sipwise's NGCP platform
 This package provides the database schema for Sipwise's NGCP
 platform.
