Source: ngcp-db-schema
Section: admin
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 9~)
Standards-Version: 3.9.6
Homepage: http://sipwise.com/

Package: ngcp-db-schema
Architecture: all
Pre-Depends: ngcp-system-tools
Depends: ${misc:Depends}
Description: database schema for Sipwise's NGCP platform
 This package provides the database schema for Sipwise's NGCP
 platform.
