#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	pod2man ./ngcp-check-rev-applied > ./ngcp-check-rev-applied.1
